.Activity-object {
    padding: 0px 12px;
}

.Activity-actor {
    margin-bottom: 1rem;
    display: flex;
}

.Activity-actor-name {
    font-size: 16px;
    margin-bottom: 6px;
}

.ActivityObject-reply {
    margin-top: 6px;
}